*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: no-repeat center;
    background-size: cover;
    background-image: url("https://images.pexels.com/photos/914952/pexels-photo-914952.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");

}
.wrapper{
    margin-left: 45%;
    position: relative;
    width: 420px;
    background: #fff ;
    border: 2px solid blanchedalmond;
    background: 0.6;
    color: black;
    border-radius: 15px;
    padding: 80px 40px 40px 40px;
    backdrop-filter: blur(10px);

    /* Fallback for browsers that do not support backdrop-filter */
    background-color: rgba(255, 255, 255, -0.6);
    color: black;
}
.wrapper h1{
    padding-bottom: 30px;
    font-size: 36px;
    text-align: center;
    color: whitesmoke;
    font-family:'Times New Roman', Times, serif;
}
.wrapper .input-box{
    position: relative;
    padding: 10px;
    padding-bottom: -40px;
    width: 100%;
    height: 50px;
    /* background: #fff; */
    margin: 25px 0;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid blanchedalmond;
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
    
}
.input-box input::placeholder{
    color: rgba(0, 0, 0, 0.5);
    font-size: 18px;
    padding-left: 15px;
}
.input-box i{
    position: absolute;
    right: 20px;
    top: 30px;
    transform: translate(-50%, -50%);
    font-size: 20px;
}
.wrapper .remember-forget{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px ;
    
}
.remember-forget label input{
    accent-color: #fff;
    margin-right: 3px;
}
.remember-forget a{
    color: black;
    text-decoration: none;
}
.remember-forget a:hover{
    text-decoration: underline;
}
.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    font-size: 17px;
    color: #333;
    font-weight: 600;
}
.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px 15px;
}
.register-link p a{
    color: #040303;
    text-decoration: none;
    font-weight: 900;
} 
.register-link p a:hover{
    text-decoration: underline;
}
.wrapper .profile-image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: calc(0.8vh);
    left: calc(50% - 50px);
    border: 2px solid #fff;   
}